.imageContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  
  .zoomOverlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Permite que eventos do mouse passem através */
    z-index: 10;
  }
  
  